.jumbotron {
    background-image: url(bookShelf.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: auto;
    overflow-x:hidden;
    }

   